<% if (page.video){ %>
<% } else if (is_post()){ %>
<%- partial('_widget/_aide/abautor') %>
<% } else { %>
<% } %>
    <section class="widget shadow-1 br-5 mb-10 p-10">
            <div class="category">
                <%- list_categories(site.categories.limit(4), { class: 'category', transform(str)
                { return titlecase(str); } }) %>
    </section>
    <section class="widget shadow-1 br-5 mb-10 p-10">
        <img class="br-5 lazyload" width="525" height="100%" src="<%= theme.lazy %>"
        data-src="<%= theme.第一张图 %>" alt="">
    </section>
    <section class="widget shadow-1 br-5 mb-10" style="padding:10px 10px 5px 10px">
        <img class="br-5 lazyload" width="525" height="100%" src="<%= theme.lazy %>"
        data-src="<%= theme.第二张图 %>" alt="">
    </section>