<section class="widget abautor shadow-1 br-5 mb-10">
        <div class="box-img mb-10 lazyload" style="background-image:url(<%= theme.lazy %>);"
        data-src="<%= theme.avatarbg %>">
        </div>
        <div class="widget-list meb_autor_top">
            <div class="meb_v">
                <img class="widget-about-image shadow br-20 lazyload" width="90" height="90"
                src="<%= theme.lazy %>" data-src="<%= theme.avatar %>">
            </div>
            <div class="widget-about-intro">
                <div class="name">
                    @<%= config.author %>
                </div>
                <div class="widget-about-desc work">
                    <%= theme.简介 %>
                </div>
            </div>
        </div>
    </section>