<nav class="nav sm-dn">
	<div id="menu-primary" class="nav-list">
		<ul id="menu-pc" class="menu">
			<% for (var menu in theme.menu){ %>
				<li>
					<a href="<%- url_for(theme.menu[menu].path) %>">
						<i data-feather="<%= theme.menu[menu].ico %>"></i> <%= menu %>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
</nav>
<div class="icolog" onclick="clickshow('pecd');">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6.01" y2="6"></line><line x1="6" y1="18" x2="6.01" y2="18"></line></svg>
</div>
<div class="icolog" style="margin-right:12.5px">
<a href="/search.html">
	<i data-feather="search"></i> 
</a>
</div>
<ul id="pecd" class="menu is-collapse hide none-active shadow" style="display: none;">
	<% for (name in theme.mmenu) { %>
	<li class="menu-item">
		<a href="<%- url_for(theme.mmenu[name]) %>" class="menu-item">
			<%= name %>
		</a>
	</li>
	<% } %>
</ul>